name: Wayclip Dashboard Docker Image

on:
    push:
        branches:
            - main
            - selfhosting

jobs:
    build-and-push:
        if: "contains(github.event.head_commit.message, '[DASH]')"
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Get short SHA
              id: vars
              run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: |
                      # Default tag for main branch
                      ${{ github.ref == 'refs/heads/main' && 'wayclip/dash:latest' || '' }}
                      # Selfhosting branch with short SHA
                      ${{ github.ref == 'refs/heads/selfhosting' && format('wayclip/dash:selfhosting-{0}', env.SHORT_SHA) || '' }}
